{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Todo sobre emily</h1>
        <p>Es una bebe muy linda</p>
    </div>
    <div class="col-4">
        <img src="assets/img/Emily-1.jpg" alt="imagen-de-emily-un-mes" class="img-thumbnail">
    </div>
</div>

    

    

{{> footer}}
